:root {
  --font-family: "Nunito", sans-serif;
  --content-width: 1610px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --main-text: #000;
  --main-green: #8cc63f;
  --second-green: #2f4f3c;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Nunito";
  src: url("../fonts/../fonts/NunitoRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/../fonts/NunitoSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/../fonts/NunitoBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/../fonts/NunitoExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Orelega";
  src: url("../fonts/../fonts/Orelega.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 375px;
  min-height: 100%;
  font-size: 16px;
  line-height: 1.4;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header {
  position: relative;
  height: 46px;
}
.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-green);
  -webkit-box-shadow: 0px 4px 20px rgba(184, 180, 176, 0.8);
  box-shadow: 0px 4px 20px rgba(184, 180, 176, 0.8);
  z-index: 21;
}
.header__logo-mobile {
  display: none;
}
@media (max-width: 1024px) {
  .header__logo-mobile {
    position: relative;
    display: block;
    width: 76px;
    height: 76px;
    top: 20px;
  }
}
.header__cart-mobile {
  display: none;
}
@media (max-width: 1024px) {
  .header__cart-mobile {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    z-index: 1000;
  }
  .header__cart-mobile span {
    position: absolute;
    top: -12px;
    right: -12px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--second-green);
    color: var(--main-green);
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    border-radius: 50%;
  }
}
@media (max-width: 1024px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 4px 40px;
  }
}

.burger {
  --burger-width: 33px;
  --burger-height: 27px;
  --burger-line-height: 2px;
  display: none;
}
@media (max-width: 1024px) {
  .burger {
    display: block;
    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: var(--second-green);
    background-color: transparent;
    cursor: pointer;
    z-index: 1000;
  }
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    overflow-y: auto;
    width: 100%;
    height: 445px;
    border-radius: 20px;
    padding: 104px 20px 32px;
    background-color: var(--main-green);
    -webkit-transform: translateY(-110%);
    -ms-transform: translateY(-110%);
    transform: translateY(-110%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
.nav__item {
  margin: 0;
}
.nav__item:not(:last-child) {
  margin: 0 44px 0 0;
}
@media (max-width: 1024px) {
  .nav__item:not(:last-child) {
    margin: 0 0 36px 0;
  }
  .nav__item.nav__lang {
    margin: 0;
  }
}
.nav__line::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 20;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.nav__line:hover::before {
  opacity: 1;
}
.nav__link {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media (min-width: 1025px) {
  .nav__link:hover {
    color: var(--second-green);
  }
}
@media (min-width: 1025px) and (max-width: 1024px) {
  .nav__link {
    font-size: 24px;
  }
}
.nav__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__lang::after {
  content: "";
  display: block;
  width: 24px;
  height: 17px;
  background-image: url("../img/flag.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 20;
  margin: 0 0 0 5px;
}
@media (max-width: 1024px) {
  .nav__desktop {
    display: none !important;
  }
}
.nav__logo {
  position: relative;
  top: 28px;
  display: block;
  width: 112px;
  height: 112px;
}

.menu--active {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.footer {
  position: relative;
  z-index: 10;
  background-color: var(--main-green);
}
.footer__content {
  max-width: 1130px;
  margin: 0 auto;
  padding: 74px 15px 56px 15px;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 10px;
}
.footer__column:not(:last-child) {
  margin: 0px 10px 40px 10px;
}
@media (max-width: 1024px) {
  .footer__column {
    width: 45%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .footer__column {
    width: 100%;
  }
}
.footer__title {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0 0 20px 0;
}
@media (any-hover: hover) {
  .footer__link:hover {
    text-decoration: underline;
  }
}
.footer__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0;
}
.footer__item:not(:last-child) {
  margin: 0 0 20px 0;
}

.hero {
  position: relative;
  min-height: 600px;
  padding: 360px 0 90px 0;
}
@media (max-width: 1440px) {
  .hero {
    padding: 280px 0 40px 0;
  }
}
@media (max-width: 1024px) {
  .hero {
    padding: 250px 0 40px 0;
  }
}
@media (max-width: 576px) {
  .hero {
    padding: 200px 0 40px 0;
  }
}
@media (max-width: 480px) {
  .hero {
    padding: 170px 0 40px 0;
  }
}
.hero__bg {
  position: absolute;
  inset: 0;
}
.hero__bg img {
  position: absolute;
  inset: 0;
  width: 100%;
}
.hero__decor {
  position: absolute;
  z-index: 1;
}
.hero__decor1 {
  width: 340px;
  height: 340px;
  top: 1000px;
  left: 0;
}
.hero__decor2 {
  width: 340px;
  height: 340px;
  top: 1200px;
  right: 0;
}
.hero__decor3 {
  width: 440px;
  height: 440px;
  top: 1900px;
  left: 0;
}
.hero__decor4 {
  width: 440px;
  height: 440px;
  top: 2100px;
  right: 0;
}
.hero__decor5 {
  width: 340px;
  height: 340px;
  top: 2700px;
  left: 0;
}
.hero__decor6 {
  width: 340px;
  height: 340px;
  top: 3300px;
  right: 0;
}
.hero__container {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero__title {
  position: relative;
  max-width: 551px;
  font-family: "Orelega";
  font-weight: 400;
  text-align: center;
  font-size: 69px;
  line-height: 1.1;
  color: var(--main-green);
  margin: 0 0 72px 0;
}
.hero__title::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  width: 271px;
  height: 10px;
  background-image: url("../img/wave.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 49px;
    margin: 0 0 56px 0;
  }
}
.hero__subtitle {
  font-family: "Orelega", serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.1;
  color: var(--second-green);
  margin: 0 0 60px 0;
}
@media (max-width: 576px) {
  .hero__subtitle {
    font-size: 32px;
    margin: 0 0 32px 0;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 296px;
  height: 439px;
  border-radius: 24px;
  padding: 24px;
  background-color: var(--light-color);
  -webkit-box-shadow: 0 0 16px rgba(184, 180, 176, 0.5);
  box-shadow: 0 0 16px rgba(184, 180, 176, 0.5);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.card:hover {
  -webkit-box-shadow: 0 0 20px rgba(184, 180, 176, 0.9);
  box-shadow: 0 0 20px rgba(184, 180, 176, 0.9);
}
@media (max-width: 1024px) {
  .card {
    width: 210px;
    height: 432px;
  }
}
@media (max-width: 480px) {
  .card {
    width: 100%;
    height: 400px;
  }
}
.card__title {
  font-family: "Orelega", serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.1;
  color: var(--second-green);
  margin: 0 0 auto 0;
}
@media (max-width: 1024px) {
  .card__title {
    font-size: 20px;
  }
}
.card__image {
  width: 248px;
  height: 171px;
  margin: 20px 0 20px 0;
}
.card__image img {
  width: 100%;
}
@media (max-width: 1024px) {
  .card__image {
    width: 178px;
    height: 104px;
  }
}
.card__box-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  margin: 0 0 20px 0;
}
@media (max-width: 1024px) {
  .card__box-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .card__box-price {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 10px 0;
  }
}
.card__price-new {
  margin: 0 10px 0 0;
}
.card__price-new span {
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  color: #006837;
}
@media (max-width: 1024px) {
  .card__price-new {
    margin: 0 10px 2px 0;
  }
}
.card__price-old-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__price-old {
  padding: 0 5px;
  margin: 0 20px 0 0;
}
.card__price-old span {
  position: relative;
  font-size: 18px;
  line-height: 1;
  color: #000;
  z-index: 5;
}
.card__volume span {
  font-size: 18px;
  line-height: 1;
  color: #000;
}
.card__box-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (max-width: 1024px) {
  .card__box-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.card__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 114px;
  height: 49px;
  border-radius: 16px;
  background-color: var(--second-green);
  color: #fff;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.card__btn:hover {
  -webkit-box-shadow: 0 0 10px var(--second-green);
  box-shadow: 0 0 10px var(--second-green);
}
@media (max-width: 1024px) {
  .card__btn {
    width: 100%;
  }
}
.card__counter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 114px;
  height: 49px;
  border-radius: 16px;
  border: 1px solid var(--second-green);
  margin: 0 20px 0 0;
  padding: 5px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.card__counter-wrapper:hover {
  -webkit-box-shadow: 0 0 10px var(--second-green);
  box-shadow: 0 0 10px var(--second-green);
}
@media (max-width: 1024px) {
  .card__counter-wrapper {
    width: 100%;
    margin: 0 0 12px 0;
  }
}
.card__counter-control {
  padding: 5px 10px;
  font-size: 22px;
  color: #343434;
}
.card__counter-current {
  font-size: 18px;
  color: #343434;
  padding: 0 5px;
}

.old {
  position: relative;
}
.old::after {
  content: "";
  position: absolute;
  top: 33%;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #f47676;
  z-index: 1;
}

.tabs__nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.tabs__nav {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0 84px 0;
}
.tabs__nav::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--main-green);
  z-index: 20;
}
@media (max-width: 480px) {
  .tabs__nav {
    margin: 0 0 39px 0;
  }
}
.tabs__nav-item {
  margin: 0;
}
.tabs__nav-item:not(:last-child) {
  margin: 0 44px 0 0;
}
@media (max-width: 480px) {
  .tabs__nav-item:not(:last-child) {
    margin: 0 25px 0 0;
  }
}
.tabs__nav-btn {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: var(--second-green);
  padding: 5px;
}
.tabs__nav-btn::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--main-green);
  z-index: 20;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.tabs__nav-btn.active::before {
  opacity: 1;
}
.tabs__content {
  min-height: 750px;
  padding: 0 326px 0 0;
}
@media (max-width: 1024px) {
  .tabs__content {
    padding: 0;
  }
}
.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 32px;
}
@media (max-width: 1024px) {
  .tabs__list {
    gap: 20px;
  }
}
.tabs__box {
  display: block;
}
.tabs__box.hide {
  display: none;
}

.shopcart {
  position: absolute;
  top: 450px;
  right: 1%;
  z-index: 2000;
}
@media (max-width: 1024px) {
  .shopcart {
    position: fixed;
    right: 0;
    top: 70px;
    overflow-y: auto;
    width: 345px;
    height: 80%;
    border-radius: 20px;
    padding: 30px 20px 32px;
    background-color: var(--main-green);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    border: 2px solid var(--main-green);
  }
}
.shopcart__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 296px;
  border: 2px solid var(--main-green);
  border-radius: 24px;
  padding: 24px;
  background-color: var(--light-color);
}
.shopcart__title {
  font-family: "Orelega", serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.1;
  color: var(--second-green);
  margin: 0 0 24px 0;
}
.shopcart__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 0 48px 0;
}
.shopcart__list::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  width: 248px;
  height: 10px;
  background-image: url("../img/wave.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shopcart__cart-empty {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 49px;
  font-size: 16px;
  margin: 0 0 8px 0;
  color: var(--light-color);
  padding: 12px 15px;
  border-radius: 16px;
  background-color: var(--main-green);
}
.shopcart__cart-empty.none {
  display: none;
}
.shopcart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shopcart__item:not(:last-child) {
  margin: 0 0 16px 0;
}
.shopcart__item-del {
  width: 24px;
  height: 24px;
  margin: 0 16px 0 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.shopcart__item-del:hover {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}
.shopcart__item-title {
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 8px 0;
  color: var(--second-green);
}
.shopcart__item-quantity {
  font-size: 16px;
  margin: 0;
  color: var(--second-green);
}
.shopcart__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 0 0 24px 0;
}
.shopcart__total-title {
  font-weight: 700;
  font-size: 18px;
  color: var(--second-green);
  margin: 0;
}
.shopcart__total-sum {
  font-size: 18px;
  color: var(--second-green);
  margin: 0;
}
.shopcart__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.shopcart__sell {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 114px;
  height: 49px;
  background-color: var(--main-green);
  color: #fff;
  border-radius: 16px;
  font-size: 18px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.shopcart__sell:hover {
  -webkit-box-shadow: 0 0 10px var(--second-green);
  box-shadow: 0 0 10px var(--second-green);
}
.shopcart__cart-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 114px;
  height: 49px;
  background-color: var(--light-green);
  color: #343434;
  border: 1px solid #343434;
  border-radius: 16px;
  font-size: 18px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.shopcart__cart-link:hover {
  -webkit-box-shadow: 0 0 10px var(--second-green);
  box-shadow: 0 0 10px var(--second-green);
}

.cart--active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
/*# sourceMappingURL=main.css.map */